{
    "root": true,
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "airbnb"
    ],
    "rules": {
        "react/jsx-indent": [
            "error",
            "tab"
        ],
        "react/jsx-indent-props": [
            "error",
            "tab"
        ],
        "indent": [
            "error",
            "tab",
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": 0,
        "no-tabs": [
            "error",
            {
                "allowIndentationTabs": true
            }
        ],
        "consistent-return": [
            "off"
        ],
        "no-shadow": ["error", { "hoist": "all" }],
        "jsx-a11y/label-has-associated-control": [ 
            "off"
        ]
    }
}